/*
** Containers
*/

.box {
    border:1px solid black;
}

.container-fluid#main {
    height:100%;
    background:#42f4d7;
}

/*
** Text
*/

.cv {
    font-family: 'Open Sans', sans-serif;
}

h1#main {
    font-family:Pacifico;
}

#cv-header {
    font-family:'Quicksand';
    font-weight:200;
}

#date {
    text-align:left;
    font-size:.95em;
}
@media screen and (min-width: 768px){
    #date{
        text-align:right;
    }
}


span#job {
    font-weight:600;
    font-size:1.1em;
}

.summary#top {
    margin:0 0 0 10px;
}

.summary#bottom {
    margin:0 0 0 10px;
}

li#cv {
    font-size:.95em;
    margin: 5px;
}

/*
** Borders
*/


.top {
    border-top: 1px solid;
}

.bottom {
    border-bottom: 1px solid;
}

/*
** Nav
*/

.list-inline#main {
    padding-top:40px;
}

.list-inline#cv {
    padding-top:10px;
}

.list-inline#main li a,
.list-inline#cv li a {
    padding:20px 40px;
    text-transform:uppercase;
    text-decoration:none;
    font-family:'Quicksand', sans-serif;
    font-weight:900;
    font-size:2em;
    color:#000000;
}

.list-inline#main li a:hover,
.list-inline#cv li a:hover {
    color:#ef0edc;
}

a#cv {
    font-family: 'Open Sans', sans-serif;
    text-decoration:underline;
    color:#000000;
}

a#cv:hover {
    color:#ef0edc;
}